
$black-dark: #111111;
$black-medium: #2a2a2a;
$black-light: #434343;

$white-light: #fcfdfd;
$white-medium: #f5f7f7;

$gray-light: #d8dada;

$green-light: #62ff5b;
$green-medium: #35e147;
$green-dark: #2bc34c;

$gray-normal: rgb(82, 81, 81);

.color-gray {
    color: $gray-normal;
}